<!DOCTYPE html>
<html lang="en">
<head>
    <title>dynamic image example</title>
    <link rel="stylesheet" href="style.css">
    <script src="logic.js"></script>
</head>
<body>
    <style>
        .image-example-container{
            width: 500px;
            height: 500px;
            border: 1px solid black;
            position: relative;
        }
    </style>
    <div class="dynamic-image-display image-example-container">
        <div>name</div>
    </div>
    <div id="dic" class="dynamic-image-display notitle image-example-container">
    </div>
</body>
</html>