.dynamic-image-display{
    overflow:hidden;
    display:grid;
    grid-auto-flow: column;
    grid-template-rows: min-content auto;
}
.dynamic-image-display.notitle{
    grid-template-rows: auto;
}
.dynamic-image-container{
    position:relative;
    overflow:hidden;
}
.dynamic-image{
    position:absolute;

    --left:0px;
    --top:0px;
    --scale:1;

    left:var(--left);
    top:var(--top);

    transform: scale( var(--scale) ) ;
}
